/* CONTAINER AND SIDEBAR */

.flowchartContainer {
  z-index: 1050;
  background-color: #fff;
  margin: 0;
}
.flowchartOpen {
  position: fixed;
  left: 0px;
  top: 60px;
  height: 90%;
  width: 100%;
  border: 2px solid rgb(45, 223, 255);
}
.flowchartPreview {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 50px;
  width: 150px;
  border: 2px solid rgb(45, 223, 255);
}

.flowchart-area {
  padding-right: 0;
}

.resizeMe {
  resize: both;
  min-width: 0px;
  min-height: 0px;
  background-color: rgba(255, 27, 27, 0.5);
  overflow: auto;
}

/* .octagon {
  height: 10em;
  width: 10em;
  position: relative;
  overflow: hidden;
}
.octagon:after {
  background-color: red;
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotate(45deg);
} */

/* NODES AND EDGES */
.react-flow__node {
  border-radius: 0.5rem;
  font-size: 150%;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.2);
  cursor: pointer !important;
  transition: border 0.3s 0.1s linear, height 0.5s 0.5s linear,
    width 0.5s 0.5s linear;
}
.react-flow__node div.react-flow-node-inner-container {
  display: table;
  text-align: center;
}
.react-flow__node
  div.react-flow-node-inner-container
  > span.react-flow-node-label {
  padding: 0.5rem 10% 1rem 10%;
  display: table-cell;
  vertical-align: middle;
}
.react-flow__node:hover {
  border-color: rgb(0, 0, 0, 0.5);
}
.react-flow__node.selected {
  border-color: rgb(0, 0, 0, 1);
}
.react-flow__handle {
  pointer-events: none !important;
  visibility: hidden;
}
.react-flow__node-text {
  background-color: rgb(12, 100, 16) !important;
  color: #fff !important;
}
.react-flow__node-section {
  background-color: rgb(198, 235, 210) !important;
}
.react-flow__node-annotation {
  background-color: rgb(209, 54, 106) !important;
  color: #fff !important;
}
.react-flow__node-reply {
  background-color: rgb(209, 209, 209) !important;
}
.react-flow__node-note {
  background-color: rgb(197, 73, 24) !important;
  color: #fff !important;
}
.react-flow__node.match {
  border-color: rgb(255, 46, 143, 0.7);
}
.react-flow__node.match:hover {
  border-color: rgb(255, 46, 143);
}

.react-flow__node.non-match {
  opacity: 0.4 !important;
}
path.react-flow__edge-path {
  stroke-width: 3;
  transition: stroke 0.3s 0.1s linear;
}
.react-flow__edge.selection-none path.react-flow__edge-path {
  stroke: rgba(0, 0, 0, 0.15);
}
.selection-two-way path.react-flow__edge-path,
.selection-incoming path.react-flow__edge-path,
.selection-outgoing path.react-flow__edge-path {
  stroke: rgb(255, 46, 143);
}
.react-flow__controls {
  bottom: 20% !important;
}
.react-flow__controls-button {
  height: 28px !important;
  width: 28px !important;
}

.react-flow__minimap-mask {
  fill: rgba(10, 10, 10, 0.25) !important;
}
