.flow-section-container {
  position: relative;
}
.flow-section-text-box {
  position: absolute;
  width: calc(100% - 24px);
  margin-left: 24px;
  background-color: rgb(248, 248, 248);
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
  border-right: 1px solid rgb(182, 182, 182);
}
.flow-section-text-box-polygon {
  stroke: rgb(0, 0, 0, 0.125);
  fill: rgb(255, 255, 255);
}
.flow-section-item {
  position: absolute;
  width: 20px;
  border-radius: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 100;
}
.flow-section-item:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.flow-section-item-title {
  margin: 6px;
}
/* .allCATEGORYCOLORS {
  color: rgb(212, 240, 134);
  color: rgb(247, 197, 157);
  color: rgb(233, 183, 243);
  color: rgb(250, 241, 157);
  color: rgb(180, 235, 144);
  color: rgb(233, 169, 241);
  color: rgb(154, 206, 147);
  color: rgb(177, 206, 245);
  color: rgb(152, 248, 157);
  color: rgb(243, 164, 164);
} */
