.flowchart-sidepanel {
  /* resize: horizontal; */
  overflow: hidden;
  background-color: rgb(106, 126, 139);
  padding-right: 1rem;
}
.flowchart-sidepanel:hover {
  overflow-y: overlay;
}
.flowchart-search-container {
  width: 100%;
  margin-top: 0.25rem;
  padding: 0 0.5rem 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.flowchart-search-container:focus-within {
  background-color: #fff;
}
.flowchart-search-container .mention,
.flowchart-search-container .ql-mention-denotation-char {
  cursor: auto;
}
.inspect-container {
  background-color: #fff;
  width: 100%;
  margin: 8px 0px 4px 0px;
  padding: 4px 4px 4px 2px;
  border-radius: 4px;
}
span.flowchartInspectElToolbar {
  position: absolute;
  right: 2rem;
}
p.flowchartInspectElToolbar {
  margin-top: -0.25rem;
  margin-bottom: 2rem;
}
.search-results-info {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.2rem;
  color: #fff;
  transition: background-color 0.5s 0.1s linear, margin-top 0.5s 0.1s linear,
    margin-bottom 0.5s 0.1s linear, padding-top 0.3s 0.1s linear,
    padding-bottom 0.3s 0.1s linear;
}
.search-results-info.search-results {
  background-color: rgba(0, 0, 0, 0.15);
}
.search-results-info.no-results {
  background-color: rgba(0, 0, 0, 0.25);
}
.search-results-info.no-search {
  opacity: 0;
  margin: 0;
  padding: 0;
}
