:root {
  --ccc-0: rgb(131, 216, 255);
  --ccc-0-0: rgb(68, 196, 255);
  /* --ccc-0-0-0: rgb(27, 228, 255);
  --ccc-0-0-1: rgb(27, 107, 255);
  --ccc-0-0-2: rgb(19, 115, 179); */
  --ccc-0-1: rgb(95, 244, 255);
  --ccc-0-2: rgb(81, 142, 255);
  --ccc-1: rgb(131, 255, 137);
  --ccc-1-0: rgb(79, 255, 88);
  --ccc-1-1: rgb(36, 218, 75);
  --ccc-1-2: rgb(159, 250, 56);
  --ccc-2: rgb(255, 222, 131);
  --ccc-2-0: rgb(255, 205, 67);
  --ccc-2-1: rgb(255, 130, 72);
  --ccc-2-2: rgb(255, 247, 131);
  --ccc-3: rgb(255, 194, 194);
  --ccc-3-0: rgb(255, 151, 151);
  --ccc-3-1: rgb(224, 121, 121);
  --ccc-3-2: rgb(228, 96, 166);
  --ccc-3-3: rgb(248, 105, 217);
}

.ql-editor {
  overflow-x: hidden;
}
.ql-container.ql-snow {
  border: none !important;
}

/* TOOLBAR */
.ql-toolbar.ql-snow {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 600px;
  background-color: rgb(222, 229, 239);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 20;
}
.active-editor .ql-toolbar.ql-snow {
  background-color: rgb(251, 255, 252);
  z-index: 500;
}
.save-statusbar {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-bottom: 3px;
  width: 80px;
  color: rgba(0, 0, 0, 1);
  z-index: 21;
}
.active-editor .save-statusbar {
  z-index: 501;
}
/* .notepanel-nav-container {
} */
.notepanel-card {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
  border-radius: 0.25rem;
  background-color: rgb(230, 224, 194);
}
/* .note-container {
  padding: 1.25rem 1.25rem 1.25rem 3rem;
} */

.note-container.note-panel {
  padding: 1.25rem 1.25rem 1.25rem 3rem;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 0.5rem;
}
.note-container.side-note {
  min-height: 80px;
  margin-left: -0.8rem;
  padding: 0.1rem 1.25rem 0.2rem 2rem;
  background-color: rgba(255, 255, 255, 0.705);
  border-top: 0.5px solid rgba(0, 0, 0, 0.8);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
}

/* ADD BUBBLE */
.add-bubble {
  position: absolute;
  z-index: 3000;
  left: 0.25rem;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: rgba(194, 241, 255, 0.603);
  border: 1px solid rgba(73, 210, 252, 0.37);
  cursor: pointer;
}
.add-bubble-line {
  position: absolute;
  z-index: 0;
  top: calc(50% - 2px);
  left: 100%;
  width: 75%;
  height: 4px;
  background-color: rgba(73, 210, 252, 0.37);
}
.add-bubble:hover,
.add-bubble:hover .add-bubble-line {
  background-color: rgb(72, 179, 211);
}

.add-bubble-svg svg {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 10%;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  color: rgba(0, 0, 0, 0.418);
}

.add-bubble:hover .add-bubble-svg svg {
  color: white;
}
/* BACKGROUND AND NAVLINE */
.note-indent-container {
  position: absolute;
  top: 0;
  left: -0px;
  height: 100%;
  width: 40px;
}
.note-indent {
  position: absolute;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.781);
  /* background-color: rgba(255, 255, 255, 0); */
}
.note-bg-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: --height;
  /* width: calc(100% - 20px); */
}
.note-bg-outer {
  position: absolute;
  height: 100%;
  /* width: 100%; */
  border-left: 1px solid rgba(0, 0, 0, 0.781);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* border-radius: 0.5rem 0rem 0rem 0.5rem; */
}
.note-bg-inner {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  /* border-radius: 0.5rem 0rem 0rem 0.5rem; */
}

div.main-navline-button-container {
  position: absolute;
  padding-left: 1px;
  top: 5px;
  z-index: 20;
}
div.navline-button-container {
  position: absolute;
  padding-left: 1px;
  top: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}
div.navline-button-container.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s linear;
}
button.navline-button {
  padding: 0;
  position: relative;
  margin-bottom: 5px;
  border: none;
  border-radius: 0rem;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
}
.mainNavline {
  position: absolute;
  z-index: 10;
  right: 16px;
  width: 20px;
  border-radius: 0;
  background-color: rgb(221, 236, 250);
  cursor: default;
}
.note-panel .mainNavline {
  top: 0;
  bottom: 0;
  border-radius: 0.5rem;
}
.side-note .mainNavline {
  border-radius: 0.5rem;
}
.navline {
  position: absolute;
  z-index: 20;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  /* border-top: 0.5px solid rgba(255, 255, 255, 0.9); */
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5rem 0 0 5rem;
  width: 100%;
  background-color: #f00;
  cursor: zoom-out;
}
.navline-0 {
  background-color: var(--ccc-0);
}
.navline-0-0 {
  background-color: var(--ccc-0-0);
}
.navline-0-1 {
  background-color: var(--ccc-0-1);
}
.navline-0-2 {
  background-color: var(--ccc-0-2);
}
.navline-0-3 {
  background-color: var(--ccc-0-3);
}
.navline-0-4 {
  background-color: var(--ccc-0-4);
}
.navline-1 {
  background-color: var(--ccc-1);
}
.navline-1-0 {
  background-color: var(--ccc-1-0);
}
.navline-1-1 {
  background-color: var(--ccc-1-1);
}
.navline-1-2 {
  background-color: var(--ccc-1-2);
}
.navline-1-3 {
  background-color: var(--ccc-1-3);
}
.navline-2 {
  background-color: var(--ccc-2);
}
.navline-2-0 {
  background-color: var(--ccc-2-0);
}
.navline-2-1 {
  background-color: var(--ccc-2-1);
}
.navline-2-2 {
  background-color: var(--ccc-2-2);
}
.navline-3 {
  background-color: var(--ccc-3);
}
.navline-3-0 {
  background-color: var(--ccc-3-0);
}
.navline-3-1 {
  background-color: var(--ccc-3-1);
}
.navline-3-2 {
  background-color: var(--ccc-3-2);
}
.navline-4 {
  background-color: var(--ccc-4);
}
.navline-4-0 {
  background-color: var(--ccc-4-0);
}
.navline-4-1 {
  background-color: var(--ccc-4-1);
}
.navline-4-2 {
  background-color: var(--ccc-4-2);
}
.embedSeperator {
  background-color: transparent;
  border: none;
  /* padding: 0;
  margin: 0; */
  z-index: 0;
}

/* EDITOR CONTENT */
li.escape-tag::before {
  color: transparent !important;
}
span.mention {
  padding: 0;
  color: #000;
  background-color: rgb(214, 245, 255);
  border: 0.05px solid rgb(148, 148, 148);
}
span.mention[data-id^='note'] {
  cursor: zoom-out;
  font-size: 150%;
  background-color: rgb(196, 241, 255);
}
span.mention[data-id^='note']:hover {
  background-color: rgb(149, 225, 248);
  border: 0.05px solid #000;
}
span.mention[data-id$='_isOpen=false'] {
  font-size: unset;
  cursor: zoom-in;
}
span.mention[data-id$='_isOpen=color_class-0'] {
  background-color: var(--ccc-0);
}
span.mention[data-id$='_isOpen=color_class-0-0'] {
  background-color: var(--ccc-0-0);
}
span.mention[data-id$='_isOpen=color_class-0-1'] {
  background-color: var(--ccc-0-1);
}
span.mention[data-id$='_isOpen=color_class-0-2'] {
  background-color: var(--ccc-0-2);
}
span.mention[data-id$='_isOpen=color_class-1'] {
  background-color: var(--ccc-1);
}
span.mention[data-id$='_isOpen=color_class-1-0'] {
  background-color: var(--ccc-1-0);
}
span.mention[data-id$='_isOpen=color_class-1-1'] {
  background-color: var(--ccc-1-1);
}
span.mention[data-id$='_isOpen=color_class-1-2'] {
  background-color: var(--ccc-1-2);
}
span.mention[data-id$='_isOpen=color_class-2'] {
  background-color: var(--ccc-2);
}
span.mention[data-id$='_isOpen=color_class-2-0'] {
  background-color: var(--ccc-2-0);
}
span.mention[data-id$='_isOpen=color_class-2-1'] {
  background-color: var(--ccc-2-1);
}
span.mention[data-id$='_isOpen=color_class-2-2'] {
  background-color: var(--ccc-2-2);
}
span.mention[data-id$='_isOpen=color_class-3'] {
  background-color: var(--ccc-3);
}
span.mention[data-id$='_isOpen=color_class-3-0'] {
  background-color: var(--ccc-3-0);
}
span.mention[data-id$='_isOpen=color_class-3-1'] {
  background-color: var(--ccc-3-1);
}
span.mention[data-id$='_isOpen=color_class-3-2'] {
  background-color: var(--ccc-3-2);
}
span.mention[data-id$='_isOpen=color_class-4'] {
  background-color: var(--ccc-4);
}
span.mention[data-id$='_isOpen=color_class-4-0'] {
  background-color: var(--ccc-4-0);
}
span.mention[data-id$='_isOpen=color_class-4-1'] {
  background-color: var(--ccc-4-1);
}
span.mention[data-id$='_isOpen=color_class-4-2'] {
  background-color: var(--ccc-4-2);
}
span.mention[data-id^='text'] {
  cursor: alias;
  background-color: rgb(182, 202, 255);
}
span.mention[data-id^='section'] {
  cursor: alias;
  background-color: rgb(253, 207, 255);
}
span.ql-mention-denotation-char {
  cursor: alias;
  color: transparent;
}
span.mention:hover .ql-mention-denotation-char {
  color: #fff;
}

/* note info */
.note-info {
  position: absolute;
  z-index: 19;
  right: 40px;
  width: calc(100% - 40px);
  padding: 3rem 1rem 0.5rem 1rem;
  border-radius: 0.9rem 0rem 0rem 0.9rem;
  color: #fff;
  background-color: rgba(23, 36, 23, 0.95);
}
.note-info .note-info-toolbar {
  position: absolute;
  right: 0;
  top: 0;
}
.note-info-close {
  position: relative;
  margin: 10px;
  border: none;
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
}
.note-info-close:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.note-info-is-saved {
  cursor: default !important;
  background-color: rgba(101, 255, 74, 0.315);
}
.note-info-needs-save {
  background-color: rgba(91, 248, 63, 0.85);
}
.note-info-needs-save:hover {
  background-color: rgba(91, 248, 63, 0.7);
}
.note-info-connection {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-wrap: break-word;
  cursor: pointer;
}
.direct-connection {
  background-color: green;
}
.indirect-connection {
  background-color: hotpink;
}
.note-info-subheading {
  margin-top: 1rem;
  margin-bottom: 0;
}
