:root {
  --ccc-0: rgb(172, 229, 255);
  --ccc-1: rgb(66, 148, 255);
  --ccc-2: rgb(66, 255, 230);
  --ccc-3: rgb(28, 238, 63);
  --ccc-4: rgb(232, 255, 29);
  --ccc-5: rgb(255, 197, 73);
  --ccc-6: rgb(255, 161, 73);
  --ccc-7: rgb(224, 169, 152);
  --ccc-8: rgb(235, 128, 163);
  --ccc-9: rgb(177, 47, 134);
  --ccc-10: rgb(131, 70, 172);
  --ccc-11: rgb(90, 63, 211);
  --ccc-12: rgb(63, 50, 255);
}

.ql-editor {
  overflow-x: hidden;
  padding-bottom: 4px;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.125);
}
.ql-container.ql-snow {
  border: none !important;
}

/* TOOLBAR */
.ql-toolbar.ql-snow {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 600px;
  background-color: rgb(222, 229, 239);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 20;
}
.active-editor .ql-toolbar.ql-snow {
  background-color: rgb(251, 255, 252);
  z-index: 500;
}
.save-statusbar {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-bottom: 3px;
  width: 80px;
  color: rgba(0, 0, 0, 1);
  z-index: 21;
}
.active-editor .save-statusbar {
  z-index: 501;
}
/* .notepanel-nav-container {
} */
.notepanel-background {
  margin: 0;
  border-top: none;
  border-radius: 0.25rem;
  background-color: var(--light);
}
/* .note-container {
  padding: 1.25rem 1.25rem 1.25rem 3rem;
} */
.note-container {
  border-width: 1px;
  border-style: solid;
  position: relative;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.5rem;
}
.note-container.note-panel {
  border-color: rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1.25rem 1.25rem 1.25rem 3rem;
}
.note-container.side-note {
  border-color: rgba(0, 217, 255, 0);
  min-height: 100px;
  margin-left: -0.8rem;
  padding: 0.1rem 1.25rem 0.2rem 2rem;
  /* border-left: 0.5px solid transparent;
  border-right: 0.5px solid transparent;
  border-top: 0.5px solid rgba(0, 0, 0, 0.8);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.8); */
  margin-bottom: 4px;
  background-color: rgb(249, 249, 249);
}
.note-container.inspect-note {
  border-color: rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1.25rem 1.25rem 1.25rem 3rem;
}
.note-container.side-note .ql-editor {
  padding-right: 8px;
  padding-left: 8px;
}

.note-container.active-editor {
  background-color: rgba(255, 255, 255);
  border: 1px solid rgb(0, 217, 255);
  z-index: 20;
}

/* ADD BUBBLE */
.add-bubble {
  position: absolute;
  z-index: 600;
  left: 0.25rem;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: rgba(194, 241, 255, 0.603);
  border: 1px solid rgba(73, 210, 252, 0.37);
  cursor: pointer;
}
.add-bubble-line {
  position: absolute;
  z-index: 0;
  top: calc(50% - 2px);
  left: 100%;
  width: 75%;
  height: 4px;
  background-color: rgba(73, 210, 252, 0.37);
}
.add-bubble:hover,
.add-bubble:hover .add-bubble-line {
  background-color: rgb(72, 179, 211);
}
.add-bubble:hover .add-bubble::before {
  content: '';
  width: 20px;
  height: 20px;
  background: yellow;
  z-index: 2000;
}
.add-bubble-svg svg {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 10%;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  color: rgba(0, 0, 0, 0.418);
}

.add-bubble:hover .add-bubble-svg svg {
  color: white;
}
/* BACKGROUND AND NAVLINE */
.note-bg-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.note-panel .note-bg-container {
  width: calc(100% - 14px);
}
.side-note .note-bg-container {
  width: calc(100% - 0px);
}
.inspect-note .note-bg-container {
  width: calc(100% - 14px);
}
.note-bg-outer {
  position: absolute;
  height: 100%;
  /* width: 100%; */
  border-left: 1px solid rgba(0, 0, 0, 0.781);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.note-bg-inner:hover {
  border-left: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}
.note-bg-inner {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}
.note-bg-inner .navline {
  position: absolute;
  top: -14px;
  width: 20px;
  height: calc(100% + 28px);
  z-index: 20;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5rem 0 0 5rem;
  background-color: var(--note-bg-color);
  cursor: zoom-out;
}
.note-panel .note-bg-inner .navline {
  right: -4px;
}
.side-note .note-bg-inner .navline {
  right: -18px;
}
.inspect-note .note-bg-inner .navline {
  right: -4px;
}
.main-navline {
  position: absolute;
  right: 0;
  width: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
  cursor: default;
}
.note-panel .main-navline {
  top: 0;
  bottom: 0;
}
.side-note .main-navline {
  right: 0px;
  border-radius: 0.5rem;
}
.inspect-note .main-navline {
  top: 0;
  bottom: 0;
}
.note-bg-inner:hover .navline {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

/* NAVLINE BUTTONS */
.navline-button-container {
  position: absolute;
  padding-left: 1px;
}
.main-navline .navline-button-container {
  top: 5px;
  z-index: 20;
}
.note-bg-inner .navline-button-container {
  margin-top: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}
.note-bg-inner:hover .navline-button-container {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s linear;
}
button.navline-button {
  padding: 0;
  position: relative;
  margin-bottom: 5px;
  border: none;
  border-radius: 0rem;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
}
button.navline-button:hover {
  color: rgba(0, 0, 0);
}

/* BACKGROUND COLOR */
.note-bg-color-0 {
  --note-bg-color: var(--ccc-0);
  background-color: var(--note-bg-color);
}
.note-bg-color-1 {
  --note-bg-color: var(--ccc-1);
  background-color: var(--note-bg-color);
}
.note-bg-color-2 {
  --note-bg-color: var(--ccc-2);
  background-color: var(--note-bg-color);
}
.note-bg-color-3 {
  --note-bg-color: var(--ccc-3);
  background-color: var(--note-bg-color);
}
.note-bg-color-4 {
  --note-bg-color: var(--ccc-4);
  background-color: var(--note-bg-color);
}
.note-bg-color-5 {
  --note-bg-color: var(--ccc-5);
  background-color: var(--note-bg-color);
}
.note-bg-color-6 {
  --note-bg-color: var(--ccc-6);
  background-color: var(--note-bg-color);
}
.note-bg-color-7 {
  --note-bg-color: var(--ccc-7);
  background-color: var(--note-bg-color);
}
.note-bg-color-8 {
  --note-bg-color: var(--ccc-8);
  background-color: var(--note-bg-color);
}
.note-bg-color-9 {
  --note-bg-color: var(--ccc-9);
  background-color: var(--note-bg-color);
}
.note-bg-color-10 {
  --note-bg-color: var(--ccc-10);
  background-color: var(--note-bg-color);
}
.note-bg-color-11 {
  --note-bg-color: var(--ccc-11);
  background-color: var(--note-bg-color);
}
.note-bg-color-12 {
  --note-bg-color: var(--ccc-12);
  background-color: var(--note-bg-color);
}

/* EDITOR CONTENT */
.embedSeperator {
  background-color: transparent;
  border: none;
  /* padding: 0;
  margin: 0; */
  z-index: 0;
}
.embedSeperator.case-begin {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.embedSeperator.case-end {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
li.escape-tag::before {
  color: transparent !important;
}
span.mention {
  padding: 0;
  color: #000;
  background-color: rgb(214, 245, 255);
  /* border: 0.05px solid rgb(148, 148, 148); */
}
span.mention[data-id^='note'] {
  cursor: zoom-out;
  font-size: 150%;
  background-color: rgb(196, 241, 255);
}
span.mention[data-id^='note']:hover {
  background-color: rgb(149, 225, 248);
  border: 0.05px solid #000;
}
span.mention[data-id$='_isOpen=false'] {
  font-size: unset;
  cursor: zoom-in;
  width: auto;
}
span.mention[data-id$='_isOpen=color_class-0'] {
  background-color: var(--ccc-0);
}
span.mention[data-id$='_isOpen=color_class-1'] {
  background-color: var(--ccc-1);
}
span.mention[data-id$='_isOpen=color_class-2'] {
  background-color: var(--ccc-2);
}
span.mention[data-id$='_isOpen=color_class-3'] {
  background-color: var(--ccc-3);
}
span.mention[data-id$='_isOpen=color_class-4'] {
  background-color: var(--ccc-4);
}
span.mention[data-id$='_isOpen=color_class-5'] {
  background-color: var(--ccc-4);
}
span.mention[data-id$='_isOpen=color_class-6'] {
  background-color: var(--ccc-4);
}
span.mention[data-id$='_isOpen=color_class-7'] {
  background-color: var(--ccc-4);
}
span.mention[data-id$='_isOpen=color_class-8'] {
  background-color: var(--ccc-4);
}
span.mention[data-id$='_isOpen=color_class-9'] {
  background-color: var(--ccc-4);
}
span.mention[data-id$='_isOpen=color_class-10'] {
  background-color: var(--ccc-4);
}
span.mention[data-id$='_isOpen=color_class-11'] {
  background-color: var(--ccc-4);
}
span.mention[data-id$='_isOpen=color_class-12'] {
  background-color: var(--ccc-4);
}
span.mention[data-id^='text'] {
  cursor: alias;
  background-color: rgb(182, 202, 255);
}
span.mention[data-id^='section'] {
  cursor: alias;
  background-color: rgb(253, 207, 255);
}
span.ql-mention-denotation-char {
  cursor: alias;
  color: transparent;
}
span.mention:hover .ql-mention-denotation-char {
  color: #fff;
}

/* note info */
.note-info {
  position: absolute;
  z-index: 19;
  right: 40px;
  width: calc(100% - 40px);
  padding: 3rem 1rem 0.5rem 1rem;
  border-radius: 0.9rem 0rem 0rem 0.9rem;
  color: #fff;
  background-color: rgba(23, 36, 23, 0.95);
}
.note-info .note-info-toolbar {
  position: absolute;
  right: 0;
  top: 0;
}
.note-info-close {
  position: relative;
  margin: 10px;
  border: none;
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
}
.note-info-close:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.note-info-is-saved {
  cursor: default !important;
  background-color: rgba(101, 255, 74, 0.315);
}
.note-info-needs-save {
  background-color: rgba(91, 248, 63, 0.85);
}
.note-info-needs-save:hover {
  background-color: rgba(91, 248, 63, 0.7);
}
.note-info-connection {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-wrap: break-word;
  cursor: pointer;
}
.direct-connection {
  background-color: rgb(1, 102, 102);
}
.indirect-connection {
  background-color: hotpink;
}
.note-info-subheading {
  margin-top: 1rem;
  margin-bottom: 0;
}
