.ql-editor {
  overflow-x: hidden;
}

.embedSeperator {
  background-color: transparent;
  border: none;
  height: 50px;
  padding: 0 0;
}
.embedSeperator.case-begin {
  background-image: linear-gradient(
    -175deg,
    rgb(131, 216, 255),
    rgb(173, 228, 253),
    transparent,
    transparent,
    transparent
  );
  margin: 0 -25px -30px 0;
  border-top: 1px solid rgb(173, 228, 253);
}
.embedSeperator.case-end {
  background-image: linear-gradient(
    175deg,
    transparent,
    transparent,
    transparent,
    rgb(173, 228, 253),
    rgb(131, 216, 255)
  );
  margin: -20px -25px 20px 0;
  border-bottom: 1px solid rgb(173, 228, 253);
}

span.mention {
  cursor: pointer;
}
span.ql-mention-denotation-char {
  cursor: alias;
}

.navline {
  cursor: zoom-out;
  border-radius: 5rem 0 0 5rem;
  width: 16px;
  position: absolute;
  background-color: #f00;
}

/* 2do how to best creat an ability for a nested color family strucure? */
.navline-0 {
  cursor: default;
  border-radius: 0;
  background-color: rgb(221, 236, 250);
}
.navline-1 {
  background-color: rgb(165, 226, 245);
}
.navline-2 {
  background-color: rgb(99, 195, 240);
}
.navline-3 {
  background-color: rgb(39, 197, 123);
}
.navline-4 {
  background-color: rgb(102, 238, 174);
}
.navline-5 {
  background-color: rgb(201, 241, 125);
}
.navline-6 {
  background-color: rgb(243, 234, 104);
}
